AlexQinDev.Web.Tests/bin/
AlexQinDev.Web.Tests/obj
AlexQinDev.Web/bin
AlexQinDev.Web/obj
AlexQinDev.WeiXin/bin
AlexQinDev.WeiXin/obj
AlexQinDev.v12.suo
Decorator/bin
Decorator/obj
DesignPattern/Decorator/bin
DesignPattern/Decorator/obj
DesignPattern/Proxy/bin
DesignPattern/Proxy/obj
DesignPattern/Bridge/bin
DesignPattern/Bridge/obj
