AlexQinDev.Web.Tests/bin/
AlexQinDev.Web.Tests/obj
AlexQinDev.Web/bin
AlexQinDev.Web/obj
AlexQinDev.WeiXin/bin
AlexQinDev.WeiXin/obj
AlexQinDev.v12.suo
Decorator/bin
Decorator/obj
DesignPattern/Decorator/bin
DesignPattern/Decorator/obj
DesignPattern/Proxy/bin
DesignPattern/Proxy/obj
DesignPattern/Bridge/bin
DesignPattern/Bridge/obj
DesignPattern/Composite/bin
DesignPattern/Composite/obj
DesignPattern/Flyweight/bin
DesignPattern/Flyweight/obj
DesignPattern/Adapter/bin
DesignPattern/Adapter/obj
DesignPattern/Facade/bin
DesignPattern/Facade/obj
DesignPattern/Prototype/bin
DesignPattern/Prototype/obj
DesignPattern/FactoryMethod/bin
DesignPattern/FactoryMethod/obj
DesignPattern/Singleton/bin
DesignPattern/Singleton/obj
DesignPattern/AbstractFactory/bin
DesignPattern/AbstractFactory/obj
DesignPattern/Builder/bin
DesignPattern/Builder/obj
DesignPattern/Strategy/bin
DesignPattern/Strategy/obj
DesignPattern/State/bin
DesignPattern/State/obj
DesignPattern/TemplateMethod/bin
DesignPattern/TemplateMethod/obj
DesignPattern/ChainOfResponsibility/bin
DesignPattern/ChainOfResponsibility/obj
DesignPattern/Command/bin
DesignPattern/Command/obj
DesignPattern/Iterator/bin
DesignPattern/Iterator/obj
DesignPattern/Mediator/bin
DesignPattern/Mediator/obj
DesignPattern/Observer/bin
DesignPattern/Observer/obj
DesignPattern/Visitor/bin
DesignPattern/Visitor/obj
DesignPattern/Interpreter/bin
DesignPattern/Interpreter/obj
